CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_DEVICE_p2w_r619ac=y
CONFIG_TARGET_BOARD="ipq40xx"
# CONFIG_TARGET_x86_64 is not set
# CONFIG_TARGET_x86_64_Generic is not set
# CONFIG_TARGET_x86_core2 is not set
# CONFIG_TARGET_x86_generic is not set
# CONFIG_TARGET_x86_geode is not set
# CONFIG_TARGET_x86_legacy is not set
# CONFIG_TARGET_x86_zen is not set
